/*-----------------Main Nav------------------*/

header{
  background-color: var(--color-lavender);
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  padding: 0.5rem;
}

.page-layout{
margin-left: 10%;
margin-right: 10%;
}

.nav-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  background-color: inherit;
}

@media (max-width: 655px){
  header{
    flex-direction: column;
  }

  #header-title{
    margin: auto;
  }

  .nav-main{
    margin: auto;
    justify-content: center;
    align-items: stretch;
  }
}

/*Product Grid*/

.product-grid-browse{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  table-layout: fixed;
}

@media (max-width: 1000px){
  .product-grid-browse{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 655px){
  .product-grid-browse{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 650px){
  .imagelink{
    margin: 0rem 0.25rem 0.25rem 0.25rem;
  }
}

.product-item{
  margin: 1rem;
  background-color: var(--color-lilac);
  padding: 1rem;
  border-radius: 0.8em;
}

/* product page in style guide*/
.product-page {
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px){
  .product-page{
    flex-direction: column;
  }
  .product-sidebar{
    order: 1;
  }
}

/* container for the paypal visa interact buttons
might need to change it for better naming*/
.container {
  display: flex;
  flex-wrap: wrap;
}

.container label {
  box-sizing: border-box;
  flex-basis: 15em;
}

/* check out cart display products*/
.sort {
  display: flex;
  flex-wrap: wrap;
}

.sort .select {
  box-sizing: border-box;
  flex-basis: 15em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.checkout-layout {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.cart-product-detail{
  flex-grow: 1;
  min-width: 150px;
  max-width: 45%;
 }

/* right side of the checkout with totals, checkout info */
.right-side-checkout{
  flex: 35%;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: auto;
  padding:0.5rem;
  float: right;
}

.total div {
  margin: 0.5rem 0.5rem 0.5rem 0;
  display: flex;
  justify-content:space-between;
}

.cart-page{
  width: 55%;
  margin: 2rem 1rem auto 1rem ;
  flex-grow: 1;
}

.cart-info{
  display: flex;
  flex-wrap: wrap;
}

table{
  width: 100%;
  border-collapse: collapse;
}

.detail-layout{
  margin: 3rem 10% 0 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.detail-left{
  flex:45%;
  flex-grow: 1;
  margin-left: 0;
  margin-right: 0;
  float: left;
}

.detail-left-slide{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: hidden;
}

.detail-right{
  flex:35%;
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  float: right;
  
}

.detail-right-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: fit-content;
}

.customer-flex{
  margin-top: -1rem;
  margin-bottom: -1rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.about-page-container{
  margin: 3rem 10% 0 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.about-us {
  flex: 40%;
}
.contact-us {
  flex:40%;
}

.footer-layout{
  flex: 30%;
}
.footer-content{
  flex:70%;
  float: right;
}