/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/* Colors*/
:root {
  --color-gtea: #d0f0c0;
  --color-lilac: #e6d7ff;
  --color-lavender: #D7B4F3;
  --color-cherry: #ffb7c5;
  --color-matcha: #69bf64;
  --color-darkgrey: #2d2d2d;
}

.palettes div {
  padding: 0.4em;
  padding-inline: 0.8rem;
  border-radius: .8rem;
  min-width: 10em;
  max-width: 20em;
  margin-bottom: 0.5em;
}

/* Pastel Flower */
.palettes #lavender {
  background-color: var(--color-lavender)
}

.palettes #cherry {
  background-color: var(--color-cherry);
}

.palettes #gtea {
  background-color: var(--color-gtea);
}

/*matcha*/
.palettes #matcha {
  background-color: #69bf64;
}

/*
.palettes #oak {
  background-color: #d0ac81;
}
.palettes #walnut {
  background-color: #533012;
}
*/

/* Neutrals */
/*
.palettes #beige {
  background-color: #F7F2D6;
}
*/
.palettes #grey {
  background-color: #2d2d2d;
  color: white;
}

.palettes #white {
  background-color: white;
}


body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

#content {
  padding: 2rem;
}

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

p {
  width: 70%;
  max-width: 500px;
  font-family: 'Raleway', sans-serif;
}

/* Font styling */
.nunito {
  font-family: 'nunito', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

h4 {
  font-family: 'nunito', sans-serif;
  font-weight: 400;
}

h5 {
  font-family: 'Raleway', sans-serif;
}

/*
NAVIGATION BAR 
https://www.w3schools.com/howto/howto_js_topnav.asp
*/

#header-title{
  margin-left: 2rem;
}

nav {
  background-color: var(--color-lavender);
  overflow: hidden;
  padding-left: 1rem;
}

/* Nav styling*/
nav a {
  float: left;
  color: var(--color-darkgrey);
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: var(--color-cherry);
  color: var(--color-darkgrey);
  transition: ease-in-out 0.5s;
}

nav a.active {
  background-color: var(--color-matcha);
  color: var(--color-darkgrey);
}


nav a:focus {
  background-color: var(--color-matcha);
}


code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

footer{
  background-color: var(--color-lavender);
  color: var(--color-darkgrey);
  text-align: center;
  padding: 1rem;
}

/*Narrow ul styling*/
.centered-list{
  padding: 0.5rem;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* In-text link */
.text-link:hover {
  color: #69bf64;
}

.text-link:focus {
  color: #F06292;
}

/* Styling for the navigation button 
https://www.w3schools.com/css/css3_buttons.asp */
.button {
  display: inline-block;
  padding: 0.5rem;
  color: #2d2d2d;
  background-color: var(--color-lavender);
  text-decoration: none;
  border-radius: .8em;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button:hover,
.button:focus {
  color: #2d2d2d;
  background-color: var(--color-gtea);
}

#submit {
  background-color: var(--color-gtea);
}

#submit:hover {
  background-color: var(--color-lavender);
}

#reset {
  background-color: var(--color-cherry);
}

#reset:hover {
  background-color: var(--color-lavender);
}

/* Text input field */
input {
  padding: 0.5em;
  margin: .3em;
  display: inline-block;
  border-radius: 0.8em;
  border: 2px solid #2d2d2d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  margin-bottom: 0.5rem;
}

input:focus {
  border: 2px solid var(--color-matcha);
}

form label {
  font-weight: bold;
  display: block;
}

label {
  margin-left: 0.3rem;
}

fieldset {
  background-color: var(--color-gtea);
  margin: 0rem 0.5rem 0.5rem 0rem;
  border: 0;
  border-radius: 0.8em;
}


/* Radio 
https://www.youtube.com/watch?v=sSF0bXFUFGM
*/


.container input[type="radio"] {
  display: none;
}

/* button of the radio */
.container label {
  position: relative;
  color: var(--color-darkgrey);
  background-color: white;
  border: 2px solid var(--color-darkgrey);
  border-radius: 8px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0.25rem;
  font-weight: bold;
}

/* circle of the radio button */
.container label:before {
  content: "";
  height: 15px;
  width: 15px;
  border: 2px solid var(--color-darkgrey);
  border-radius: 50%;
  margin-right: 15px;
}

/* button color when checked*/
.container input[type="radio"]:checked+label {
  background-color: var(--color-gtea);
  color: var(--color-darkgrey);
}

/* circle of the radio button when checked*/
.container input[type="radio"]:checked+label:before {
  height: 10px;
  width: 10px;
  border: 5px solid var(--color-darkgrey);
}

/* 
Image hover
code from 
https://codepen.io/nxworld/pen/ZYNOBZ
*/

figure {
  overflow: hidden;
  margin: 0;
}

img {
  display: block;
  width: 300px;
  height: auto;
}

figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

figure img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*NEW image zoom - Stephen's version, it should fix overflow issues hopefully*/
.zoomimage{
  overflow: hidden;
  height: 20rem;
  width: auto;
}

.zoomimage img{
  transition: scale 1s;
  object-fit: cover;
  width:100%;
  height:100%;
  overflow: hidden;
}

.zoomimage img:hover{
  scale: 1.4;
}

/* Numbered list
https://blog.logrocket.com/styling-numbered-lists-with-css-counters/
*/
div.list {
  counter-reset: list-number;
}

div.list div:before {
  counter-increment: list-number;
  content: counter(list-number);
}

div.list div:before {
  counter-increment: list-number;
  content: counter(list-number);

  margin-right: 10px;
  margin-bottom: 10px;
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: var(--color-lavender);
  border-radius: 50%;
  color: var(--color-darkgrey);
}

/*slideshow
SRC https://www.w3schools.com/howto/howto_js_slideshow.asp*/
.slideshow {
  width: 100%;
  height: 25rem;
  position: relative;
  text-align: center;
  background-color: var(--color-lavender);
}

.slide {
  height: 100%;
  width: 100%;
}

.slide>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide_caption{
  text-shadow: black 1px 0 10px;
  color: white;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.dot {
  height: 1rem;
  width: 1rem;
  margin: 0.2rem;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--color-lilac);
  transition: background-color 0.2s;
  margin-top: 1rem;
}

.dot_active {
  background-color: var(--color-darkgrey);
}


.button-nav {
  display: inline-block;
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
  color: var(--color-darkgrey);
  background-color: var(--color-lilac);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 0.5rem;
  border-radius: .8rem;
}

.button-nav:hover,
.button-nav:focus {
  background-color: var(--color-cherry);
  color: var(--color-darkgrey);
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 1rem;
  color: white;
  background-color: rgba(0,0,0,0.1);
  transition: 0.2s;
}

.prev{
  left: 0;
  border-radius: 0 3px 3px 0;
}

.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.5)
}

/* 
  COMBINED ELEMENTS -------------------
*/

/* product card */
.product {
  background-color: var(--color-lavender);
  margin: 1em;
  padding-bottom: 0.1em;
}

.product>figure{
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.product>figure>img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product h4,
.product h5 {
  margin-top: 0.5em;
  margin-left: 2rem;
}

/* Custom Drop down menu
https://www.youtube.com/watch?v=R-1Hh--SrX0*/
select {
  appearance: none;
  outline: 0%;
  box-shadow: none;
  border: 0 !important;
  background: white;
  background-image: none;
  font-weight: 400;
}

select::-ms-expand {
  display: none;
}

/* arrow in the box */
.select {
  position: relative;
  display: flex;
  width: 8rem;
  height: 2em;
  line-height: 3;
  background: white;
  overflow: hidden;
  border-radius: 0.7em;
  border: 1px solid var(--color-darkgrey);
}

/* text inside the select box*/
select {
  flex: 1;
  padding: 0.5em;
  padding-left: 1em;
  color: var(--color-darkgrey);
  cursor: pointer;
  font-size: 0.8em;
  outline: none;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: -0.5rem;
  right: 0;
  padding: 0 0.5em;
  background: white;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

/* arrow thing select list*/
.select:hover::after {
  color: var(--color-lavender);
}


fieldset {
  width: auto;
  margin-bottom: 1.5rem;
}

.container {
  width: auto;
}



/* shopping cart */

.label-payment {
  width: 100%;
}

legend {
  background-color: var(--color-matcha);
  border-radius: 0.7em;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.right-side-checkout label {
  margin-left: 10px;
}


.total {
  margin-bottom: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  height: 120px;
  border-radius: .7rem;
  background-color: var(--color-gtea);
  font-weight: 700;
  /*border: 2px solid var(--color-darkgrey);*/
}

.checkout-button {
  background: var(--color-matcha);
}

.checkout-button:hover {
  background: var(--color-gtea);
}

fieldset .button {
  display: block;
  margin-left: 0.5rem;
  margin-right: auto;
}


.payment-form input {
  width: 85%;
  margin-right: 1rem;
}

th {
  text-align: left;
  padding: 0.5rem;
  background: var(--color-gtea);
}

td {
  padding: 1rem 0.5rem;
}

td input {
  width: 3rem;
}

td img {
  width: 9rem;
  height: 9rem;
  margin-right: 0.5rem;
  object-fit: cover;
}

/* banner thing */
.banner {
  padding: 0.5rem;
  margin: 0 0 0 0rem;
  background-color: var(--color-lilac);
  text-align: center;
}

.banner .nunito {
  opacity: 0.8;
}

/* 
Branding ideas
*/

/* detail page stuff */

.detail-image-container {
  padding: 1rem;
  background-color: var(--color-lavender);
  border-radius: 0.7rem;
  margin: 1rem;
}

.detail-image-container img {
  width: 100%;
}

.detail-left-slide{
  width: auto;
  height: max-content;
  overflow: hidden;
}



.detail-left-slide img{
  width: 25%;
  margin: 0.5rem 0.3rem 0.5rem 0.3rem;
  height: auto;
  object-fit: contain;
}

.detail-right {
  padding: 1rem;
  background-color: var(--color-lilac);
  border-radius: 0.7rem;
  margin: 1rem;
  height: fit-content;
}


.detail-right h1 {
  margin-top: 0rem;
}

.detail-right input {
  width: 4rem;
}

.product-review{
  padding: 1rem;
  background-color: var(--color-lilac);
  border-radius: 0.7rem;
  margin: 1rem;
  height: fit-content;
}

.product-review input {
  height: 3rem;
  width: 90%;
}

.product-review .button {
  margin-left: 0.3rem;
  margin-bottom: 1rem;
}

.customer-pfp{
  margin-top: 1rem;
  margin-right: 1rem;
  height:2rem;
  width: auto;
  border-radius: 50%;
}

.about-us{
  padding: 1rem;
  background-color: var(--color-lilac);
  border-radius: 0.7rem;
  margin: 1rem;
  height: fit-content;
}

.contact-us{
  padding: 1rem;
  background-color: var(--color-gtea);
  border-radius: 0.7rem;
  margin: 1rem;
  height: fit-content;
}

.contact-us #contact-message{
  font-family: 'Nunito', sans-serif;
  padding: 0.5em;
  margin: .3em;
  display: inline-block;
  border-radius: 0.8em;
  border: 2px solid #2d2d2d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  margin-bottom: 0.5rem;
  width:85%;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_rangeslider
*/

.slider-container {
  width: 100%;
}

input.slider {
  appearance: none;
  width: 90%;
  height: 12px;
  padding-top: 0;
  padding-bottom: 0;
  background: var(--color-gtea);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--color-matcha);
  cursor: pointer;
}

.logo {
  padding-left: 12%;
  height: 80px;
  width: auto;
}

@media only screen and (max-width: 655px) {
  .logo {
    padding: 0;
    margin: auto;
    height: 60px;
    width: auto;
  }
}